src/conf/xml-resources/web-service-references/ServicioHorario/wsdl/localhost_8080/ServicioHorario/ServicioHorario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="ServicioHorario">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://localhost:8080/ServicioHorario/ServicioHorario?xsd=1"/>
</xsd:schema>
</types>
<message name="ServicioGrabarHorario">
<part name="parameters" element="tns:ServicioGrabarHorario"/>
</message>
<message name="ServicioGrabarHorarioResponse">
<part name="parameters" element="tns:ServicioGrabarHorarioResponse"/>
</message>
<message name="ServicioListarHorario">
<part name="parameters" element="tns:ServicioListarHorario"/>
</message>
<message name="ServicioListarHorarioResponse">
<part name="parameters" element="tns:ServicioListarHorarioResponse"/>
</message>
<message name="ServicioFiltroHorario">
<part name="parameters" element="tns:ServicioFiltroHorario"/>
</message>
<message name="ServicioFiltroHorarioResponse">
<part name="parameters" element="tns:ServicioFiltroHorarioResponse"/>
</message>
<portType name="ServicioHorario">
<operation name="ServicioGrabarHorario">
<input wsam:Action="http://servicio/ServicioHorario/ServicioGrabarHorarioRequest" message="tns:ServicioGrabarHorario"/>
<output wsam:Action="http://servicio/ServicioHorario/ServicioGrabarHorarioResponse" message="tns:ServicioGrabarHorarioResponse"/>
</operation>
<operation name="ServicioListarHorario">
<input wsam:Action="http://servicio/ServicioHorario/ServicioListarHorarioRequest" message="tns:ServicioListarHorario"/>
<output wsam:Action="http://servicio/ServicioHorario/ServicioListarHorarioResponse" message="tns:ServicioListarHorarioResponse"/>
</operation>
<operation name="ServicioFiltroHorario">
<input wsam:Action="http://servicio/ServicioHorario/ServicioFiltroHorarioRequest" message="tns:ServicioFiltroHorario"/>
<output wsam:Action="http://servicio/ServicioHorario/ServicioFiltroHorarioResponse" message="tns:ServicioFiltroHorarioResponse"/>
</operation>
</portType>
<binding name="ServicioHorarioPortBinding" type="tns:ServicioHorario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ServicioGrabarHorario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ServicioListarHorario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ServicioFiltroHorario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioHorario">
<port name="ServicioHorarioPort" binding="tns:ServicioHorarioPortBinding">
<soap:address location="http://localhost:8080/ServicioHorario/ServicioHorario"/>
</port>
</service>
</definitions>